.mainDiv 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 30%;
    min-width: 450px;
    min-height: 575px;
    height: 70%;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.17);
    border-radius: 30px;
}

.textfield
{
    width: 70%;
    height: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    background: #F8F1FF;
    border-radius: 7px;
    border: none;
}

.line
{
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    background-color: black;
    border: none;
    box-shadow: none;
    width: 70%;
    height: 1px;
}

.registrate
{
    margin-top: 30px;
    margin-bottom: 5px;
    width: 70%;
    height: 45px;
    text-transform: uppercase;
    background: #985ACE;
    color:#FFFFFF;
    border-radius: 7px;
    border: none;
    transition-duration: 0.3s;
}

.registrate:hover
{
    background: #7a49a5;
}

.registrate:active
{
    background: #613a83;
}

/*<img src="google.png" alt="Google" width="20" height="20">*/

.logo
{
    position: absolute;
    right: 70%;
}

.google
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 30px;
    width: 70%;
    height: 45px;
    background: #FFFFFF;
    color:#000;
    border-radius: 7px;
    border: 1px solid #985ACE;
    transition-duration: 0.3s;

    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.google:hover
{
    background: #efefef;
    border-color: #7a49a5;
}

.google:active
{
    background: #dddddd;
    border-color: #613a83;
}

.header
{
    align-self: flex-start;
    margin-top: 50px;
    margin-left: 15%;
    margin-bottom: 50px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;

    text-transform: uppercase;
}

body
{
    background-color: #985ACE; 
} 