#logotype
{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 10px;
    top: 10px;
    background: url(logotype.png)
}
#group1
{
    position: absolute;
    width: 457px;
    height: 518px;
    left: 667px;
    top: 281px;
    /* Drop Shadow */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#exit
{
    position: absolute;
    width: 49px;
    height: 21px;
    left: 759px;
    top: 369px;
}
#line
{
    position: absolute;
    left: 10.2%;
    right: 83.67%;
    top: 100%;
    bottom: 0%;
}
#exit1
{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 23.81%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
#input
{
    position: absolute;
    width: 273px;
    height: 40px;
    left: 759px;
    top: 430px;
}
#input1
{
    position: absolute;
    width: 273px;
    height: 40px;
    left: 0px;
    top: 0px;
}
#group2
{
    position: absolute;
    width: 8px;
    height: 11px;
    left: 248px;
    top: 14px;
}
#vector
{
    position: absolute;
    left: 91.28%;
    right: 6.67%;
    top: 35%;
    bottom: 51.25%;
    background: rgba(64, 58, 75, 0.6);
}
#vector1
{
    position: absolute;
    left: 90.84%;
    right: 6.23%;
    top: 50.71%;
    bottom: 37.5%;
    background: rgba(64, 58, 75, 0.6);
}
#email
{
    position: absolute;
    width: 40px;
    height: 15px;
    left: 16px;
    top: 3px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    color: rgba(64, 58, 75, 0.6);
}
#rectangle
{
    position: absolute;
    width: 273px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #F8F1FF;
    border-radius: 7px;
}
#input2
{
    position: absolute;
    width: 273px;
    height: 40px;
    left: 759px;
    top: 479px;
}
#input3
{
    position: absolute;
    width: 273px;
    height: 40px;
    left: 0px;
    top: 0px;
}
#vector2
{
    position: absolute;
    left: 90.11%;
    right: 5.49%;
    top: 60%;
    bottom: 20%;
    background: rgba(64, 58, 75, 0.6);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
#password
{
    position: absolute;
    width: 43px;
    height: 14px;
    left: 16px;
    top: 3px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    color: rgba(64, 58, 75, 0.6);
}
#rectangle1
{
    position: absolute;
    width: 273px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #F8F1FF;
    border-radius: 7px;
}
#input_checkmark
{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 759px;
    top: 540px;
}
#rectangle2
{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0px;
    top: 0px;
    background: #F8F1FF;
    border-radius: 3px;
}
#group3
{
    position: absolute;
    width: 457px;
    height: 518px;
    left: 667px;
    top: 281px;
    filter: drop-shadow(0px 4px 17px rgba(0, 0, 0, 0.17));
}
#frame
{
    position: absolute;
    width: 122px;
    height: 12px;
    left: 783px;
    top: 541px;
}
#remember_me
{
    position: absolute;
    width: 122px;
    height: 12px;
    left: 0px;
    top: 0px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
}
#frame1
{
    position: absolute;
    width: 273px;
    height: 40px;
    left: 759px;
    top: 564px;
}
#group4
{
    position: absolute;
    width: 273px;
    height: 40px;
    left: 0px;
    top: 0px;
}
#exit_text
{
    position: absolute;
    width: 85px;
    height: 17px;
    left: 95px;
    top: 12px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
#rectangle3
{
    position: absolute;
    width: 273px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #985ACE;
    border-radius: 7px;
}
#line
{
    position: absolute;
    width: 273px;
    height: 0px;
    left: 759px;
    top: 636px;
    border: 0.5px solid #000000;
}
#frame2
{
    position: absolute;
    width: 433px;
    height: 15px;
    left: 679px;
    top: 641px;
}
#forgot_password
{
    position: absolute;
    width: 433px;
    height: 15px;
    left: 0px;
    top: 0px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
}
#frame3
{
    position: absolute;
    width: 273px;
    height: 40px;
    left: 759px;
    top: 676px;
}
#frame4
{
    position: absolute;
    width: 273px;
    height: 40px;
    left: 0px;
    top: 0px;
}
#group5
{
    position: absolute;
    width: 273px;
    height: 40px;
    left: 0px;
    top: 0px;
}
#flat_color
{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 31px;
    top: 10px;
}
#vector3
{
    position: absolute;
    left: 50%;
    right: 8.33%;
    top: 41.67%;
    bottom: 19.11%;
    background: #1976D2;
}
#vector4
{
    position: absolute;
    left: 12.91%;
    right: 22.06%;
    top: 58.45%;
    bottom: 8.33%;
    background: #4CAF50;
}
#vector5
{
    position: absolute;
    left: 13.14%;
    right: 21.63%;
    top: 8.33%;
    bottom: 59.35%;
    background: #FF3D00;
}
#vector6
{
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;
    background: #FFC107;
}
#with_google
{
    position: absolute;
    width: 154px;
    height: 17px;
    left: 60px;
    top: 11px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}
#rectangle4
{
    box-sizing: border-box;
    position: absolute;
    width: 273px;
    height: 40px;
    left: 0px;
    top: 0px;
    border: 1px solid #985ACE;
    border-radius: 7px;
}
#rectangle5
{
    position: absolute;
    width: 457px;
    height: 518px;
    left: 667px;
    top: 281px;
    background: #FFFFFF;
    border-radius: 30px;
}