.window{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 100%;
    background: #985ACE;
  }
.main_color{
    background: #ffffff;
    width: 1100;
    height: 1400px;
    border-radius: 37.5px;
    margin-top: 1%;
}
.questions{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    width: 1100px;
    height: 1150px;
    margin-top: 75px;
}
/*---------------------------------------------------------------------------------------------------------------------------*\
\*---------------------------------------------------------------------------------------------------------------------------*/
.page_name{
    width:fit-content;
    height:fit-content;
    margin-top:3%;
    margin-left: 40.8%;
    font-family: sans-serif;
    font-size: 60px;
    border-bottom: 2px solid #000000;
}
.vopros{
    width:fit-content;
    height:fit-content;
    margin-left: 25%;
    font-family: serif;
    font-size: 27px;
}
.otvet_pole_vvoda{
    margin-left: 25%;
    background: #e6e6e6;
    width: 500px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #985ACE;
    font-family: serif;
    font-size: 25px;
    text-indent: 30px;
}
.vvod_da_net{
    padding-top: 2.7%;
    font-family: serif;
    font-size: 23px;
}
.flex_vvod{
    display: flex;
    justify-content:space-between;
    margin-left: 25%;
    background: #e6e6e6;
    flex-direction: row;
    width: 250px;
    height: 42px;
    border-radius: 20px;
    border: 1px solid #985ACE;
}
.work_scope{
    margin-left: 25%;
    background: #e6e6e6;
    width: 400px;
    height: 44px;
    border-radius: 20px;
    border: 1px solid #985ACE;
    font-family: serif;
    font-size: 25px;
    text-indent: 30px;
}
option {
    font-family: serif;
    font-size: 25px;
}
/*---------------------------------------------------------------------------------------------------------------------------*\
\*---------------------------------------------------------------------------------------------------------------------------*/
.prof_btn{
    margin-left: 25%;
    background: #e6e6e6;
    width: 160px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #985ACE;
}
.prof_btn_text{
    width: 160px;
    text-align: center;
    height: fit-content;
    font-family: sans-serif;
    font-style: italic;
    font-size: 25px;
    margin-top: 2.5%;
}
.prof_select{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.prof_btn:hover .prof_select {display: block;}

.prof_btn:hover {background-color: #3e8e41;}
/*---------------------------------------------------------------------------------------------------------------------------*\
\*---------------------------------------------------------------------------------------------------------------------------*/